@font-face {
    font-family: 'heebo-extrabold';https://raw.github.com/
    src: url('https://cdn.rawgit.com/yusferdi/puskapol-assets/blob/main/Heebo-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
} 
